//! **************************************************************************
// Written by: Map P.20131013 on Mon Apr 08 18:30:06 2019
//! **************************************************************************

SCHEMATIC START;
COMP "A" LOCATE = SITE "L3" LEVEL 1;
COMP "B" LOCATE = SITE "L4" LEVEL 1;
COMP "AB" LOCATE = SITE "K2" LEVEL 1;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "Trigger" LOCATE = SITE "K1" LEVEL 1;
COMP "value<0>" LOCATE = SITE "T10" LEVEL 1;
COMP "value<1>" LOCATE = SITE "T9" LEVEL 1;
COMP "value<2>" LOCATE = SITE "V9" LEVEL 1;
COMP "value<3>" LOCATE = SITE "M8" LEVEL 1;
COMP "value<4>" LOCATE = SITE "N8" LEVEL 1;
COMP "value<5>" LOCATE = SITE "U8" LEVEL 1;
COMP "value<6>" LOCATE = SITE "V8" LEVEL 1;
COMP "value<7>" LOCATE = SITE "T5" LEVEL 1;
SCHEMATIC END;

